mat-card {
    padding: 0;
    margin: 1.5em;
}

.container {
    padding: 1.5em;
    max-height: 400px;
    height: auto;
    transform: none;
}

form {
    display: flex;
    flex-direction: column;
    place-content: stretch center;
}

.forgot-password {
    text-align: center;
    padding: 1em 0 1em;
}
.register {
    text-align: center;
    padding: 1em 0 0;
}