<h2 class="title">{{title}}</h2>

<div class="days-container">
    <!-- <mat-chip-list aria-label="Dias de la semana">
        <mat-chip [selected]="d.selected" (click)="selectDay(d)" *ngFor="let d of daysOfWeek$ | async; let i = index">{{d.day}}</mat-chip>
    </mat-chip-list> -->
</div>

<mat-accordion class="example-headers-align" multi *ngIf="!fecthingMeetData; else fetching"> 
    <div *ngIf="meets.length; else emptyMeets">
        <mat-expansion-panel (opened)="loadSchedule()" *ngFor="let m of meets">
            <mat-expansion-panel-header>
                <mat-panel-title><b>{{m.block}}</b></mat-panel-title>
                <mat-panel-description>{{m.date}}</mat-panel-description>
            </mat-expansion-panel-header>

            <mat-divider></mat-divider>
            <div class="patient-info-container">
                <div class="left">
                    <p><b>Nombre:</b> {{m.patient_fullname}}</p>
                    <p><b>Rut:</b> {{m.patient_rut}}</p>
                    <p><b>Correo:</b> {{m.patient_email}}</p>
                    <p><b>Teléfono:</b> {{m.patient_cellphone}}</p>
                </div>
                <div class="right">
                    <p><button mat-raised-button color="">Abrir Sala de terapia</button></p>
                    <p><button mat-raised-button color="">Abrir Chat</button></p>
                    <p><button mat-raised-button color="warn">Cancelar Sesión</button></p>
                </div>
            </div>
        </mat-expansion-panel>
    </div>
    <ng-template #emptyMeets>
        <p class="empty-meets">Aún no hay citas para este día.</p>        
    </ng-template>
</mat-accordion>
<ng-template #fetching>
    <mat-progress-bar mode="query"></mat-progress-bar>
</ng-template>