<mat-stepper [linear]="true" orientation="vertical">
    <mat-step [stepControl]="firstFormGroup">
        <ng-template matStepLabel>Datos Personales</ng-template>
        <ng-template matStepContent>
            <form [formGroup]="firstFormGroup">
                <mat-form-field>
                    <mat-label>Nombre</mat-label>
                    <input matInput formControlName="firstName">
                </mat-form-field>
                <br>
                <mat-form-field>
                    <mat-label>Apellidos</mat-label>
                    <input matInput formControlName="lastName">
                </mat-form-field>
                <br>
                <mat-form-field>
                    <mat-label>Edad</mat-label>
                    <input matInput type="number" formControlName="age">
                </mat-form-field>
                <br>
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input matInput type="email" formControlName="email">
                </mat-form-field>
                <br>
                <mat-form-field>
                    <mat-label>Celular</mat-label>
                    <input matInput formControlName="cellphone">
                </mat-form-field>
                <br>
                
                <button mat-button matStepperNext>Continuar</button>
            </form>        
        </ng-template>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
        <ng-template matStepLabel>Agendar Cita</ng-template>
        <ng-template matStepContent>
        <form [formGroup]="secondFormGroup">
            <mat-calendar [(selected)]="selected"></mat-calendar>
            <br>
            <mat-label>Horas Disponibles para {{selected | date}}</mat-label>
            <mat-chip-list aria-label="Fish selection">
                <mat-chip>09:00 AM</mat-chip>
                <mat-chip>10:00 AM</mat-chip>
                <mat-chip color="primary" selected>15:00 AM</mat-chip>
                <mat-chip>18:00 AM</mat-chip>
            </mat-chip-list>
            <br>
            <button mat-button matStepperPrevious>Volver</button>
            <button mat-button matStepperNext>Continuar</button>
        </form>        
        </ng-template>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup">
        <ng-template matStepLabel>Resumen</ng-template>
        <ng-template matStepContent>
            <form [formGroup]="thirdFormGroup">
                <mat-checkbox formControlName="termsControl" required>Acepto los <a>T&eacute;rminos y Condiciones</a></mat-checkbox>
                <mat-error *ngIf="thirdFormGroup.controls['termsControl'].invalid">{{getErrorMessage()}}</mat-error>
                <br>
                <mat-form-field>
                    <mat-label>Rut</mat-label>
                    <input matInput type="text" formControlName="rut">
                </mat-form-field>
                <br>            
                <button mat-button (click)="createPayment()">Pagar</button>
            </form>
        </ng-template>
    </mat-step>
</mat-stepper>