/* You can add global styles to this file, and also import other style files */
$text-color-light: #fff;
$alpha: 0.5;
$info-color-alpha: rgba(33, 150, 243, $alpha);
$info-color: #2196f3;

body {
    margin: 0;
    padding: 0;
}
