<mat-toolbar>
    <button mat-icon-button aria-label="" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <img src="assets/svg/logo.svg" alt="" class="logo">
    <button mat-icon-button class="favorite-icon" aria-label="">
        <mat-icon>logout</mat-icon>
    </button>
</mat-toolbar>

<mat-drawer-container class="profile-drawer-container" autosize [hasBackdrop]="false">
    <mat-drawer #drawer class="example-sidenav" mode="side" opened>
        <mat-nav-list>
            <mat-list-item *ngFor="let i of items">
                <mat-icon matListIcon>{{i.icon}}</mat-icon>
                <a matLine [routerLink]="[{ outlets: { 'specialist': [i.path] } }]">{{ i.name }}</a>
                <!-- (click)="loadComponent(i.id)" -->
            </mat-list-item>
        </mat-nav-list>
    </mat-drawer>

    <mat-drawer-content class="padding-base">
        <router-outlet name="specialist"></router-outlet>
    </mat-drawer-content>
    
    
    <!--Agenda-->
    <ng-template #schedule>
        <mat-drawer-content class="padding-base">
            <app-schedule></app-schedule>
        </mat-drawer-content>
    </ng-template>

    <!--Citas-->
    <ng-template #meets>
        <mat-drawer-content class="padding-base">
            <app-meets></app-meets>
        </mat-drawer-content>
    </ng-template>

    <!--Pacientes-->
    <ng-template #pacients>
        <mat-drawer-content class="padding-base">
            <app-patients></app-patients>
        </mat-drawer-content>
    </ng-template>

    <!--Boletas-->
    <ng-template #dte>
        <mat-drawer-content class="padding-base">
            <app-dte></app-dte>
        </mat-drawer-content>
    </ng-template>

    <!--Perfil-->
    <ng-template #profile>
        <mat-drawer-content class="padding-base">
            <app-profile></app-profile>
        </mat-drawer-content>
    </ng-template>

    <!--Configuracion-->
    <ng-template #settings>
        <mat-drawer-content class="padding-base">
            <app-settings></app-settings>
        </mat-drawer-content>
    </ng-template>

</mat-drawer-container>