<div class="bg">
    <mat-toolbar class="transparency header p-15">
        <span>{{title}}</span>
        <span class="example-spacer"></span>
        <button mat-stroked-button>Registro</button>
        <button mat-stroked-button>Acceder</button>
    </mat-toolbar>

    <mat-card class="main-info">
        Labore nostrud Lorem aliquip amet cillum dolor incididunt velit sint. 
        Elit eiusmod est esse anim labore ex elit. Amet anim aliqua cillum reprehenderit nisi non sunt nostrud dolor anim. 
        Est non quis Lorem voluptate incididunt. Fugiat cillum est sint excepteur pariatur. 
        Dolore deserunt duis dolore ex cillum dolore ex reprehenderit esse est.
    </mat-card>

    <div class="meet-container">
        <button mat-stroked-button class="meet-button">Agendar Una Cita</button>
    </div>
</div>