@import 'src/styles.scss'
@import 'src/_mixins.sass'

.example-spacer
    flex: 1 1 auto

.transparency
    background: transparent
    color: $text-color-light


.mat-toolbar-row, .mat-toolbar-single-row
    background: $info-color
    color: $text-color-light

.main-info
    background: $info-color-alpha
    color: $text-color-light
    border: none
    padding: 1.5em
    font-size: 1.5rem
    margin: 10rem
    border-radius: 25px
    box-shadow: none
    line-height: normal

    @include for-size(phone-only)
        font-size: 1rem
        box-shadow: none
        line-height: normal
        border-radius: 0
        margin: 0

.meet-container
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    align-content: center
    justify-content: center
    align-items: center

    button
        margin-bottom: 2rem

img
    max-width: 100%
    height: auto
