<div class="">
    
    <mat-toolbar class="">
        <span>{{title}}</span>
        <span class="example-spacer"></span>
        <button mat-stroked-button>Registro</button>
        <button mat-stroked-button>Acceder</button>
    </mat-toolbar>

    <div>
        <img src="assets/images/background1.jpg" class="">
    </div>

    <div class="meet-container">
        <button mat-stroked-button class="" [routerLink]="scheduleMeetUrl">Agendar Una Cita</button>
    </div>
    
    <mat-card class="main-info">
        Labore nostrud Lorem aliquip amet cillum dolor incididunt velit sint. 
        Elit eiusmod est esse anim labore ex elit. Amet anim aliqua cillum reprehenderit nisi non sunt nostrud dolor anim. 
        Est non quis Lorem voluptate incididunt. Fugiat cillum est sint excepteur pariatur. 
        Dolore deserunt duis dolore ex cillum dolore ex reprehenderit esse est.
    </mat-card>

</div>