<h2 class="title">{{title}}</h2>

<mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Hoy</mat-panel-title>
            <mat-panel-description>(Miercoles)<mat-icon>date_range</mat-icon></mat-panel-description>
        </mat-expansion-panel-header>

        <div *ngFor="let hour of availableHours" class="hours-container">
            <mat-chip-list aria-label="Seleccion de horas">
                <mat-chip [selected]="hour.selected" class="">{{hour.value}}</mat-chip>
            </mat-chip-list>
            <p>Disponible</p>
            
        </div>
    </mat-expansion-panel>
</mat-accordion>


<!-- <mat-form-field appearance="fill">
            <mat-label>Date</mat-label>
            <input matInput [matDatepicker]="picker" (focus)="picker.open()" readonly>
        </mat-form-field>
        <mat-datepicker #picker></mat-datepicker> -->